<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sec.mapper.UserMapper">
    <select id="findAccountByUsernameOrEmail"  resultType="Account">
        select * from db_account where username=#{text} or email=#{text}
    </select>

</mapper>
